{
    // "plugins" : [
    //     "@babel/plugin-transform-template-literals",
    //     "@babel/plugin-transform-classes",
    //     "@babel/plugin-transform-block-scoping"
    // ],
    "presets" : [[
        "@babel/env", 
        // Вторым параметром указываем какие конкретные версии браузера будем поддерживать
        {
            "debug": true,
            // "targets": [
            //     // Выражение озночает что хотим поддержать все браузеры у которых колличество пользователей больше 0.3%
            //     "> 0.3%",
            //     "not ie > 0"
            //     // "last 2 chrome versions",
            // ]
            // "targets": {
            //     "edge": "18",
            // }
        }]],
    "plugins": [ "@babel/proposal-class-properties"]

}